@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'images'; 
@import 'globals'; 

@mixin heading($color) {
    text-transform: uppercase;
    font: { 
     family: $heading-font;
     weight: 300; 
    }
    
    color: $color;
 } 

 @mixin background-img($img) { 
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), $img no-repeat; 
    background-position: center;  
    background-size: cover;
}

@mixin background-img-hover($img) {
    background: linear-gradient(rgba($color: $secondary-1, $alpha: .5), rgba($color: $secondary-1, $alpha: .5)), $img no-repeat; 
    background-position: center;   
    background-size: cover;

    & .creations__link__heading {
        color: $black; 
    }
}

@mixin underline-before {
        width: 0%; 
        height: .1rem;
        background: $white;
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        transition: .4s;
       }
    
@mixin underline-hover {
    width: 100%; 
    left: 0%;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;  
    padding: 2rem 1.5rem;
}

.nav__desktop-menu,
.creations__see-all-btn--desktop {
    display: none;
  }    

.nav__link--uppercase { 
  @include heading($white);
  padding-block: .5rem; 
}

.nav__open-menu-btn {
    background: url(./images/icon-hamburger.svg) no-repeat;
    width: 2rem; 
    height: 2rem;
    background-position: center;
    border: none; 
    cursor: pointer;
}

.nav__close-menu-btn {
  @extend .nav__open-menu-btn;
  background: url(./images/icon-close.svg) no-repeat;   
  background-position: center;
} 

.nav__mobile-menu {
    position: absolute;  
    width: 100vw;   
    min-height: 100vh; 
    left: 0%;
    top: 0%; 
    background-color: $black; 
    flex-direction: column;
    color: $white;
    display: none;   
    padding: 2rem 1.5rem;
    max-width: 100%; 
    gap: 5rem;
}

.nav__logo, 
.footer__logo {
    width: 7.5rem; 
}

.mobile-menu__group {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    justify-self: center; 
    gap: 1rem; 
}

.nav__link--uppercase { 
    font-size: 1.3rem; 
    font-weight: 200; 
}

.main__hero {
    min-height: 100vh;
    width: 100%;
    background: url(./images/mobile/image-hero.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;  
}

.hero__heading-container {
    width: clamp(70rem, 100%, 20rem);
    margin: auto;
}

.hero__heading {
    margin: 0;
    @include heading($white);
    border: .13rem solid $white;    
    padding: 1.5rem;  
    font-size: 2rem;
    max-width: 42rem;  
} 

.intro {
    width: 100%;  
    min-height: 100vh;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;    
}

.intro__heading {
    @include heading($black); 
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 2.5rem;
}

.intro__img  {
    width: 100%;
}

.creations {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center; 
}

.creations__heading {
    @include heading($black);
    font-size: 1.8rem;
    font-weight: 300;
}

.creations__link {
    width: 100%;
    aspect-ratio: 5/2;  
    display: flex;
    align-items: flex-end;
    padding-inline: 1rem;
}

.creations__link:nth-of-type(1) {
    @include background-img($deep-earth-mobile);

    &:hover {
        @include background-img-hover($deep-earth-mobile);
    }
}

.creations__link:nth-of-type(2) {
    @include background-img($night-arcade-mobile);

    &:hover {
      @include background-img-hover($night-arcade-mobile);
    }
}


.creations__link:nth-of-type(3) {
    @include background-img($soccer-team-mobile);

    &:hover {
      @include background-img-hover($soccer-team-mobile);
    }
}


.creations__link:nth-of-type(4) {
    @include background-img($grid-mobile);
    
    &:hover {
        @include background-img-hover($grid-mobile);
      }
}

.creations__link:nth-of-type(5) {
    @include background-img($from-above-mobile);

    &:hover {
        @include background-img-hover($from-above-mobile);
      }
}

.creations__link:nth-of-type(6) {
    @include background-img($pocket-borealis-mobile);

    &:hover {
        @include background-img-hover($pocket-borealis-mobile);
      }
}


.creations__link:nth-of-type(7) {
    @include background-img($curiosity-mobile);

    &:hover {
        @include background-img-hover($curiosity-mobile);
      }
}


.creations__link:nth-of-type(8) {
    @include background-img($fisheye-mobile);

    &:hover {
        @include background-img-hover($fisheye-mobile);
      }
}

  .creations__see-all-btn {
    border: .1rem solid $black;
    padding: .5rem 2rem;
    width: max-content;
    color: $black; 
    // @include heading($black);  
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15rem;  
  } 

  .creations__see-all-btn:hover {
    color: invert($color: $black);
    background-color: invert($color: $white); 
  }
   
  .creations__link__heading {
    text-decoration: none;
    @include heading($white);
    font-size: 1.3rem;  
    max-width: 40%;
 
}

footer {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-size: .8rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem; 
 }

.footer__link::before {
     @include underline-before;
}
    
       
.footer__link:hover::before {
    @include underline-hover;
}  
 
.footer__socials {
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-top: 2rem;
}

.footer__copyright {
    color: $secondary-1;
    text-align: center;
}

.footer__attribution {
    // padding-block: 2rem;
    color: grey;
    text-align: center;

}

@media screen and (min-width: 1000px) {
   nav { 
    width: clamp(70rem, 90%, 20rem);  
    left: 50%;
    margin-left: clamp(-35rem, -50%, -10rem);
    max-width: 100%;   
   }

  .nav__desktop-menu {
    display: flex;
    align-items: center;
    gap: 2rem; 
  }

  .nav__link--lowercase::before { 
    @include underline-before;
  }

  .nav__link--lowercase:hover::before {
    @include underline-hover; 
  }
  
.main__hero {
    background: url(./images/desktop/image-hero.jpg) no-repeat;
}

  .nav__open-menu-btn {
    display: none;
  }

  .hero__heading {
    font-size: 5rem;
  }

  .intro {
    width: clamp(70rem, 100%, 20rem);  
    display: grid;
    margin: auto; 
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40% 60%;
    max-width: 100%; 
  }

  .intro__img {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .intro__text {
   grid-column: 2 / 4;
   grid-row: 2 / 3; 
   background: $white;
   height: 100%; 
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-inline: 5rem; 
   text-align: left; 
  }

  .intro__heading {
    margin: 0; 
    font-size: 3rem; 
  }

  .creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    width: clamp(70rem, 100%, 20rem);  
    margin: auto;
    grid-template-rows: repeat(3, max-content);
    gap: 2rem;     
    max-width: 100%; 
  }
  
.creations__banner {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    grid-column: span 4;
    grid-row: 1 / 2; 
}

.creations__heading {
    font-size: 3rem; 
}

.creations__link {
    aspect-ratio: 9/16;  
    display: flex;
    align-items: flex-end;
    padding-inline: 1rem;
    width: 12rem; 
}

.creations__link:nth-of-type(1) {
    @include background-img($deep-earth-desktop);

    &:hover {
        @include background-img-hover($deep-earth-desktop);
      }
}

.creations__link:nth-of-type(2) {
    @include background-img($night-arcade-desktop);

    &:hover {
        @include background-img-hover($night-arcade-desktop);
      }
}


.creations__link:nth-of-type(3) {
    @include background-img($soccer-team-desktop);

    &:hover {
        @include background-img-hover($soccer-team-desktop);
      }
}


.creations__link:nth-of-type(4) {
    @include background-img($grid-desktop);

    &:hover {
        @include background-img-hover($grid-desktop);
      }
}


.creations__link:nth-of-type(5) {
    @include background-img($from-above-desktop);

    &:hover {
        @include background-img-hover($from-above-desktop);
      }
}


.creations__link:nth-of-type(6) {
    @include background-img($pocket-borealis-desktop);

    &:hover {
        @include background-img-hover($pocket-borealis-desktop);
      }
}


.creations__link:nth-of-type(7) {
    @include background-img($curiosity-desktop);

    &:hover {
        @include background-img-hover($curiosity-desktop);
      }
}


.creations__link:nth-of-type(8) {
    @include background-img($fisheye-desktop);

    &:hover {
        @include background-img-hover($fisheye-desktop);
      } 
}

.creations__see-all-btn--desktop { 
    display: inline-block;
    border: .1rem solid $black;
    color: $black;
}

.creations__see-all-btn--mobile {
    display: none;
}

footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__group-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__menu {
    flex-direction: row;
}

.footer__group-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

}